{{ ansible_managed | comment }}
# nfsen - Netflow visualisation and investigation tool 
#
## FIXME! Not working

description     "Netflow visualisation and investigation tool "

start on startup
stop on runlevel [06]

expect fork
respawn
kill timeout 2
env NFSEN_PIDFILE={{nfsen_piddir}}/nfsen.pid

pre-start script
    [ ! -d ${NFSEN_PIDFILE%/*} ] && install -d -o netflow -g netflow -m 0755 ${NFSEN_PIDFILE%/*}
end script

script
## PID file handled by /usr/local/libexec/nfsen/NfSenRC.pm
#    echo $$ > $NFSEN_PIDFILE
    exec {{nfsen_bindir}}/nfsen start
end script

## inspired from http://karlssonondatabases.blogspot.ca/2010/12/ubunto-upstart-for-automatic-mysql.html
pre-stop script
    #exec /usr/local/bin/nfsen stop
    {{nfsen_bindir}}/nfsen stop && rm -f $NFSEN_PIDFILE

# Wait for nfsen to end.
    loop=60
    while [ $loop -gt 0 ]; do
# If the pidfile is found, then continue waiting.
        if [ -e $NFSEN_PIDFILE ] ; then
            loop=$((loop - 1))
            sleep 1
            continue
        fi
        break
    done

end script

